<div class="footer">
    <div class="row">
        <ul>
            <li><a href="{{ url_for('main.about') }}#contact">Contact us</a></li>
            <li><a href="{{ url_for('main.about') }}#services">Our Services</a></li>
            <li><a href="{{ url_for('main.about') }}#privacy">Privacy Policy</a></li>
            <li><a href="{{ url_for('main.about') }}#terms">Terms & Conditions</a></li>
        </ul>
    </div>
    <div class="row">
        My 2Du Copyright © 2025 - All rights reserved
    </div>
</div>