<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} My 2Du {% endblock %}</title>
  {% block links %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Uncial+Antiqua&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Indie+Flower&family=Schoolbell&family=Uncial+Antiqua&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Aubrey&display=swap" rel="stylesheet">
{% endblock %}
</head>
<body>

  <div class="container">
  <div class="main-header">
    <div>
         <img  class="logo" src="{{url_for('static' , filename='images/logo.png')}}" alt="logo">
         <h1 class="heading">
              My 2<span class="d-wrap">D<span class="tick">&#10003;</span></span>
            </h1>
    </div>
    
  


    <div>
       <ul class="nav-links" >
    <li ><a class="anchor" href="{{ url_for('main.index') }}">Home</a></li>
      {% if username %}   
        <li><a  href="{{url_for('main.Todo')}}" class="anchor" ><p>Todo </p></a></li>
       {% else %}
        <li><a  href="{{url_for('main.Login')}}" class="anchor" ><p>Todo </p></a></li>
        {% endif %}     
     {% if username %}   
        <li><a  href="{{url_for('main.History')}}" class="anchor" ><p>History </p></a></li>
       {% endif %}     
    {% if session.username %}
    <li><a class="anchor">Hi, {{ session.username }}!</a></li>
    <li><a class="anchor" href="{{ url_for('main.Logout') }}">Logout</a></li>
    {% else %}
    <li><a class="anchor" href="{{ url_for('main.Login') }}">Log-in</a></li>
    {% endif %}

    
    <li ><button class="anchor-acc"></button></li> 
</ul>
    
</div>
</div>

     {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

  {% block content %}

  <div class="main">
    <div class="banner">
      <div class="img">
        <img src="{{url_for('static' , filename='images/sticker.png')}}" alt="sticker">
      </div>
      <div class="headtext">
        <div class="h2">
          <h2>Clear Your Head.</h2>
            <h2>Crush Your Day.</h2>
        </div>
        <div class="h5">
          <h5>Your unified space for every task,</h5>
            <h5>goal, and idea. Start managing your</h5>
              <h5>to-do list the smarter way.</h5>
        </div>
       {% if username %}   
        <a  href="{{url_for('main.Todo')}}" class="btn" ><p>Let's Start &#8594;</p></a>
       {% else %}
        <a  href="{{url_for('main.Login')}}" class="btn" ><p>Let's Start &#8594;</p></a>
        {% endif %}     
      </div>
    </div>
    
 </div>

    <button class="btn">Add</button>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock%}
    </body>
</html>