.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}
.para{
  flex-direction: column;
  font-family: monospace;
  font-size: 20px;
  height: 80px;
  margin-bottom: 50px;
  width: 500px;
  display: flex;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    
}


.to-do{
   border: 3px solid black;
  box-shadow: 3px 5px 10px 5px rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  height:auto ;
  margin-bottom: 40px;
  width: 600px;
  background-color: #b1aeae;
}
.main-heading{
  background-color: #757373;
  border-radius: 20px 20px 0 0;
  text-align: center;
  padding: 10px;
  font-family: "Schoolbell", cursive;
  font-size: 1.8em;
  font-weight: 800;
  border-bottom: 3px solid black;
  margin-bottom: 5px;
}
.add-task{
  display: flex;
  justify-content: space-evenly;
   margin-top: 20PX;

}
input{
  background-color: #b1aeae;
  padding: 7px;
  margin-left: 20px;
  height: 40px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
}

.add-btn{
  background-color: #1a1a1a;
  color:white ;
  padding: 4px;
  border: none;
  width: 50px;
  border-radius: 8px;
  font-style: oblique;
  
}
.add-btn:hover{
    background-color: #1a1a1ab4;
  box-shadow: 2px 2px 6px white;
}
.add-btn:active{
    background-color: #1a1a1ab5;
  
}
.task-list{
  list-style: none;
  margin-left: 10px;
  padding: 20px;
}
.task-list li{
  display: flex;
  justify-content: space-between;
  
  border: 1px solid white;
  padding: 8px;
  margin-bottom: 7px;
  border-radius: 5px;
}
.delete-btn{
  background-color: #757373;
  color:black ;
  padding: 4px;
  height: 30px;
  border: none;
  width: 50px;
  border-radius: 8px;
  font-style: oblique;
  
}
.delete-btn:hover{
    background-color: #9e9d9d;
  box-shadow: 2px 2px 6px;
}
.delete-btn:active{
    background-color: #464646;
  
}
@media (max-width: 768px) {
  .para, .to-do {
    /* Make containers fluid */
    width: 80%; 
  }

  .para {
    font-size: 15px;
    height: auto;
    margin-bottom: 20px;
  }

  .add-task {
    flex-direction: column; 
    align-items: center;/* Stack input and button vertically */
    gap: 10px;
  }

  input {
    width: 80%; /* Make input take full width of its container */
    margin-left: 0;
  }

  .add-btn {
    width: 30%;
    height: 30px; /* Make button take full width */
  }

  .task-list li {
    flex-direction: column; /* Stack task content and delete button */
    align-items: flex-start;
    gap: 10px;
    height: 30px;
  }

  .delete-btn {
    margin-top: -34px;
    align-self: flex-end; /* Move delete button to the right */
  }
}